<div class="row">
	<div class="large-12 columns">
		<div id="category-specific">
			<h3><a href="/categories">Find by Category</a></h3>
		</div>
		<div id="hard_mode">
			<p>Want to try hard mode? Combine the first two prompts you get.<br>  Mermaids in space?  Done.<br>  Out of potatoes to make latkes and stuck in a bank during a robbery?  You got this.</p>
		</div>
		<div id="cue">
			<h3>Your prompt is...</h3>
		</div>
		<div id="prompt_space">
			<p>just beyond the button click.</p>
		</div>
		<div id="prompt_button">
			<div class="prompt button round">
				<p>Prompt me!</p>
			</div>
		</div>
	</div>
</div>