/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

.row {
	text-align: center;
}

li {
	list-style-type: none;
}

a {
	color: #166CEC;
}

a:hover{
	color: #B5C6E0;
}

a:visited {
	color: #36465D;
}

body {
	background-image: url('/images/notebook.png');
}

#prompt_space, #category_prompt_space{
	background-color: rgba(21, 106, 235, .2);
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 1em;
}

#prompt_space p, #category_prompt_space p {
	margin-top: 1em;
}

.button {
	background-color: rgba(21, 106, 235, .2) !important;
}

.button {
	background-color: rgba(21, 106, 235, .2) !important;
}

.button p {
	padding-top: 20px;
	color: black !important;
}

.round p {
	padding-top: 20px;
}