/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

.grid-container {
	text-align: center;
}

li {
	list-style-type: none;
}

a {
	color: #8baad8;
}

a:visited {
	color: #624e9a;
}

a:hover{
	color: #166cec;
}

body {
	background-image: url('/images/notebook.png');
}

.subheader {
	text-align: center;
}

#prompt_space, #category_prompt_space, .space{
	background-color: rgba(21, 106, 235, .2);
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 1em;
}

#prompt_space p, #category_prompt_space p {
	margin-top: 1em;
}

#prompt_button, #category_prompt_button {
	margin-top: 20px;
}

.button {
	background-color: rgba(21, 106, 235, .2);
}

.button p {
	padding-top: 20px;
	color: black;
}

.round {
	border-radius: 10px;
	margin-bottom: 10px;
	p {
		padding-top: 20px;
	}
}

.prompt-count {
	font-size: 1.5em;
}

.home a{
	color: #3677AB;
}

.home a:hover{
	color: #36465D;
}

label{
	font-size: 1.05rem;
}

.prompt-links {
	margin-top: 3%;
}

footer {
	text-align: center;
	margin-top: 3%;
}

@media(max-width:768px){
	footer {
		margin: 25px 10px 0 10px;
	}
}