<div class="row">
    <h1>Welcome to Feed the Bunny</h1>
    <h2 class="subheader">Inspiring creativity with the click of a button.</h2>
	<div class="large-12 columns">
		<h3><%= @category.label.titlecase%> Sub-Generator</h3>
		<h4><%= @category.description %></h4>
		<p>There are currently <b class="prompt-count"><%= @category.prompts.count%></b> prompts in this category.  This make affect the randomness and make it look like prompts aren't being generated.</p>
		<div id="cue">
			<h3>Your prompt is...</h3>
		</div>
		<div id="category_prompt_space">
			<p>just beyond the button click.</p>
		</div>
		<div id="category_prompt_button">
			<div class="category button round">
				<p>Make fetch happen.</p>
			</div>
		</div>
	</div>
</div>